/*Album Page v2 External Style Sheet*/

a {
	text-decoration: none;
			
}

a:link {
	color:#e67300;
}

a:visited {
	color: #930;
}


a:hover {
	text-decoration: underline;
	background-color: #fc6;
}

a:active {
	font-style: italic;
}


body {
	font-family: Calibri !important;
}
ul {
	font-size: 14px;
}
table {
	font-size: 14px;
	text-align: center;
	background-color: #eb8f32;
}
/*
tbody tr:nth-child(even){
	background-color: #e67300;
}

tbody tr:nth-child(odd) {
	background-color: #930;
}
*/
td {
	font-style: italic;
}

@font-face {
    font-family: 'rio_grande_stripedbold';
    src: url('Font/riogrande_striped.woff2') format('woff2'),
         url('Font/riogrande_striped.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#RioGrande {
			font-family: 'rio_grande_stripedbold';
		}



		